﻿.setapracima
{
    width:43px;height:58px;background-image:url(../imagens_upload/setapracima.jpg);
    position:absolute;  top:22px;left:28px;cursor:pointer;
}
.setaprabaixo
{
    width:43px;height:58px;background-image:url(../imagens_upload/setaprabaixo.jpg);
     position:absolute;  top:97px;left:28px;cursor:pointer;
}

.btnsalvaralteracoes
{
    width:81px;height:43px;background-image:url(../imagens_upload/btnsalvaralteracoes.png);
     position:absolute;  top:177px;left:10px;cursor:pointer;
}
#aguardealtseqfotos
{
    width:81px;height:25px;background-color:Red;
     position:absolute;  top:237px;left:10px;text-align:center;display:none;
}
#containerbotoesdirecionais
{
    float:left;
    width:100px;position:relative;display:none;
  
}
#containerbotoesdirecionaisint
{
    float:left;
    width:100px;height:260px;position:relative;position:fixed;
    
   
}