﻿.fileUploadQueueItem {
   font: 11px Verdana, Geneva, sans-serif;
   background-color: #F5F5F5;
   border: 3px solid #E5E5E5;
   margin-top: 5px;
   padding: 10px;
   width: 300px;
   margin-left:18px;
}
.fileUploadQueueItem .cancel {
   float: right;
}
.fileUploadProgress {
   background-color: #FFFFFF;
   border-top: 1px solid #808080;
   border-left: 1px solid #808080;
   border-right: 1px solid #C5C5C5;
   border-bottom: 1px solid #C5C5C5;
   margin-top: 10px;
   width: 100%;
}
.fileUploadProgressBar {
   background-color: #0099FF;
}




.centromedio
{
	width:362px;
	height:255px;
	border-left:solid 1px #c9cdcf;
	border-right:solid 1px #c9cdcf;
	float:left;
	clear:left;
	
	background-color:#ffffff;
}
.centromedio h1
{
	margin-top:20px;
	margin-left:20px;
	font:bold 13px arial;
	float:left;
	clear:left;
	width:322px;
}

.enviofotos
{
	height:202px;
	margin-left:0px;
	margin-top:10px;
	clear:left;
	float:left;
	display:block;
   
}
#titenviofotos
{
	width:364px;
	 height:auto;
	 background-color:#cccccc;
	 float:left;
	 clear:left;
	 line-height:15px;
}