body 
{
    font-family: Arial,Helvetica,sans-serif;
    margin:10px;
}
*{
   margin:0px;padding:0px;
}
.titadmin
{
   
    width:100%;height:54px;background-image:url(../imagenslogin/barratit_amostra.png);
    background-repeat:repeat-x; position:relative;
    float:left;clear:left;margin:auto;
}
.boxprincipal
{
    width:100%;border-right:solid 1px #ccc;
    border-left:solid 1px #ccc;border-bottom:solid 1px #ccc;
    height:500px;float:left;clear:left;
    border-bottom-left-radius: 10px;
     border-bottom-right-radius: 10px;
     margin:auto;position:relative;
}
.titadmintexto
{
    font:bold 15px arial;color:#fff;height:54px;line-height:54px;position:absolute;top:0px;left:10px;
}
.titbordaesquerda
{
    background-image:url(../imagenslogin/barratit_bordaesquerda.jpg);width:8px;height:54px;float:left;
}
.titbordadireita
{
    background-image:url(../imagenslogin/barratit_bordadireita.jpg);width:8px;height:54px;float:right;margin-right:-2px;
}
.boxcentro
{
    margin:auto;margin-top:62px;width:595px;height:295px;
    border:solid 1px #ccc;
   border-radius: 10px;position:relative;
}
.boxlogin
{
    width:340px;height:210px;position:absolute;
    border-radius: 10px;top:50px;left:215px;
    border:solid 1px #cdcdcd;background-color:#f4f4f4;
}
.boxcentro h1
{
    color:#025a8d;position:absolute;
    font:bold 18px arial;left:22px;top:20px;
}
.boxcentro .texto
{
    position:absolute;width:175px;height:45px;
    font:normal 12px arial;left:22px;top:63px;
}
.boxcentro a
{
    position:absolute;width:175px;height:45px;
    font:normal 12px arial;left:22px;top:118px;
}
.boxcentro .cadeado
{
    width:152px;height:137px;position:absolute;
    background-image:url(../imagenslogin/cadeado.png);
    left:22px;top:130px;
}
.boxlogin label
{
    width:106px;float:left;margin-top:36px;margin-left:17px;height:22px;line-height:18px;
    font:normal 12px verdana;padding-right: 5px;text-align:right;
    clear:left;
}
.boxlogin input
{
    width:146px;float:left;margin-top:32px;height:22px;line-height:18px;
    font:normal 12px verdana;border: 2px solid #DBDBDB;
    border-radius: 3px;box-shadow: 0px 0px 5px 5px #F0F0F0 inset;
    padding-right: 15px;
}
.boxlogin .btnentrar
{
    width:90px;height:26px;position:absolute;
    background-image:url(../imagenslogin/btnentrar.png);border:none;
    left:231px;top:118px;cursor:pointer;
    font:bold 12px verdana;padding-left:-0px;
}
.boxlogin .btnentrar:hover
{
    color:Blue;
}
.rodape
{
    width:100%;height:40px;bottom:20px;position:absolute;
    background:url(../imagens/coletiva-preto-powered.png) no-repeat center bottom;
   cursor:pointer;
}