﻿body 
{
    font:normal 12px verdana;
    background-color:#F5F5F5;
}
*
{
    margin:0px;padding:0px;
}
#topointeiro
{
    width:100%;height:49px;background-image:url(../imagens/topoamostra.jpg);background-repeat:repeat-x;
  
}
#topointeiro h1
{
    float:left;clear:none;font:bold 14px arial;color:#fff;height:49px;line-height:49px;margin-left:10px;
}
/*
.topo
{
     width:1000px;margin:auto;
    padding-bottom:10px;border-bottom:solid 1px #dadada;
    height: 70px;
    font-family: Arial;
}
*/
.topobemvindo
{
  /* width: 300px; */
   float: right; text-align: right;margin-top:10px;
   margin-right:10px;color:#fff;
}
.topobemvindo a, .topobemvindo a:visited{ color:#fff;}

.container
{
    margin:auto;
    min-height:500px;
   /* width:766px;*/
   width:90%;
}
.contbtnnovo
{
    width:100%;float:left;clear:left;
}
.navabas
{
    width:100%;float:left;clear:left;
    border-bottom:solid 3px #aaa;margin-top:10px;
}
.navtopo{
    height:30px;bottom:5px;position:absolute;
    width:100%;float:left;clear:left;margin-top:10px;
   
}
#cadastro
{
	clear:both;
	float:left;
	width:100%; 
	
}
#cadastro ol
{
    list-style:none;
}
#cadastro ol li {
	float:left;
	min-height:40px;
	clear:left;
	margin-bottom:10px;
}




#cadastro ol li label {
	float:left;
	width:180px;margin-left:15px;
	height:35px;line-height:35px;
}
#cadastro ol li label.erro
{
    color:red;margin-left:10px;display:none;
    width:300px;
}

#cadastro ol li label strong {
	color:#F00;
}

#cadastro ol li input.Campos , #cadastro ol li select.Campos 
{
	float:left;
	width:245px;
	height:35px;
	border:2px solid #DBDBDB;
	border-radius:3px;
	box-shadow: inset 0 0 5px 5px #f0f0f0;
	padding-left:5px;
	
}
#cadastro ol li select.Campos 
{
    width:245px;
    height:35px;padding-top:5px;
    padding-bottom:5px;
}

#cadastro ol li textarea {
	float:left;
	width:510px;
	height:50px;
	border:2px solid #DBDBDB;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
	box-shadow: inset 0 0 5px 5px #f0f0f0;
	padding-left:5px;
}
/*******  Coluna esquerda *******/
#colunaesquerda
{
    width:194px;min-height:678px;float:left;clear:left;
    background-color:#dad2c3;border-right:solid 1px #c2c3b9;
}
#colunaesquerda ul
{
    list-style: none outside none;margin-left:7px;margin-top:20px;
    width: 220px;float: left;clear: left;
    
}
#colunaesquerda ul li
{
    float:left;clear:left;width:155px;height:28px;border:solid 1px #73b3d2;border-radius:5px;background-color:#ccdde6;
    margin-bottom:10px;
    
}
#colunaesquerda ul li a
{
    color:#047fba;margin-left:5px;font:bold 16px arial;margin-top:3px;cursor:pointer;text-decoration:none;float:left;clear:left;
}
#colunaesquerda ul li a:hover
{
    color:Red;
}
#colunadireita
{
    background-color:#f5f5f5;float:left;clear:none;
}
#colunadireita h1
{
    margin-left:10px;color:#4d5764;font:bold 18px arial;
    float:left;clear:left;width:100px;margin-top:10px;padding-bottom:5px;
 }
h3 {
   
    margin: 5px 0px 10px;
    border-bottom: 1px solid rgb(204, 204, 204);
    background-color: rgb(240, 236, 236);
    padding: 10px;
    color: rgb(102, 102, 102);
    float:left;clear:left;
    width:100%;
}
.btnenviar
{
    width:109px;height:32px;float:right;border:none;color:#fff;
    background-image:url(../imagens/btnenviar.png);cursor:pointer;
}
.btnenviar:hover
{
   background-image:url(../imagens/btnenviarhover.png);
}
h2
{
    float:left;clear:left;font:bold 12px verdana;
    margin-bottom:10px;
}
.tbllistagem , .tbllistagemgaleria
{
    width:100%;margin-top:8px;
    border-collapse: collapse; border-spacing: 0;
    float:left;clear:left;
    font:normal 12px verdana;
}
.tbllistagemgaleria
{
    width:180px;
}
.tbllistagem tr th ,.tbllistagemgaleria tr th
{
	padding: 5px;
	background-color: #c53a3a;
	text-align: left;
	border: solid 1px #b12716;
	color: #FFF;
	height: 30px;
}
.tbllistagem tr td ,.tbllistagemgaleria tr td
{
    padding:3px;
    
    border-bottom:solid 1px #888;
    border-left:solid 1px #888;
    border-right:solid 1px #888;
}
.tbllistagem tr:nth-child(odd) {background-color: #FEE}
/******* Abas ******************/
.aba, .aba2, .abadisabled
{
    background-color:#aaa;
    border-top-left-radius:5px;
    border-top-right-radius:5px;
    font:bold 12px verdana;
    text-align:center;
    padding:10px;
    float:left;margin-right:2px;cursor:pointer;
}
.aba2
{
    background-color:#dadada;color:#000;
}
.abadisabled
{
    background-color:#dadada;color:#aaa;cursor:default;
}
.rodape
{
    width:100%;float:left;clear:left;height:50px;
    border-top:solid 1px #dadada;cursor:pointer;
    text-align:center;background-color:#dadada;
    padding-top:10px;
}
/************** Foto Banner ***************/
.containerfoto
{
    width:100%;float:left;clear:left;margin-top:10px;
    height:500px;
}
.fotobanner
{
    width:715px;height:400px;
    float:left;clear:left;
}
.fotofachada
{
    width:643px;
    float:left;clear:left;
}
.fotologo
{
    width:225px;height:146px;
    border:solid 1px #ccc;
    float:left;clear:left;
}
.areaupload
{
    width:275px;float:left;clear:none;
}
.containerinput
{
  width:343px;height:32px;float:left;
}
.inputselecfoto
{
  float:left;clear:left; margin-left:5px;cursor:pointer;
}
.btnuploadfoto
{
    width:109px;height:32px;float:left;clear:left;border:none;color:#fff;background-color:transparent;
    background-image:url(../imagens/btnenviar.png);cursor:pointer;
    margin-left:5px;margin-top:20px;
}
.btnmaispequeno
{
    width:30px;height:30px;background-image:url(../imagens/btnmaispequeno.png);float:left;cursor:pointer;
}
#aguarde
{
     float:left;clear:left;width:200px;display:none;margin-top:10px;margin-left:5px;background:url(../imagens/ajax-loader.gif) no-repeat right;
    
}
/************** Galeria Banner ***************/
.containergaleria
{
    width:100%;float:left;clear:left;
   
}
.tblcaracteristicas, .tbltamanhos
{
    
    border-collapse: collapse; border-spacing: 0;
    float:left;
    font-size:11px;
}
.tblcaracteristicas input[type=checkbox]
{
   margin-left:5px;
}
.tbltamanhos
{ 
    width:600px;
 }
 .tbltamanhos span
 {
     float:left;clear:left;height:35px;line-height:35px;margin-right:10px;
 }
.tblcaracteristicas tr td
{
    padding-bottom:5px;width:20%;
}

/* Atualizações */
/*.topo div a,
.topo div a strong { color: #b12716; }
input[type="button"] {  }
input[type="button"]:hover { }
*/
.botaopadrao
{
    background: linear-gradient(to bottom, #E10000 50%, #88372A); box-shadow: inset 0 0 10px #ED2724; 
    border: solid 1px #C82420; border-radius: 5px; color: #FFF; cursor: pointer; font-weight: bold; 
    float: right;   text-transform: uppercase;cursor: pointer;
    height:30px;line-height:30px;
    padding-left:5px;padding-right:5px;
}
.botaopadrao:hover
{
     background: linear-gradient(to bottom, #88372A 50%, #E10000);
}
.breadcrumb
{
   width:900px;margin-left:20px;margin-top:5px;float:left;clear:left;color:blue;font:normal 12px verdana;
}
.breadcrumb a{text-decoration:none;}
fieldset{
   border-radius: 5px;padding:5px;margin-top:10px;
   background-color:#fafafa;
}
legend
{
    margin-left:30px;
    font-weight:600;color:#444;
}

.btnmenu {float:left;background: linear-gradient(to bottom, #E10000 50%, #88372A); box-shadow: inset 0 0 10px #ED2724; border: solid 1px #C82420; border-radius: 5px; color: #FFF; cursor: pointer; font-weight: bold; margin-left:10px; padding: 5px; text-transform: uppercase; }
.btnmenu:hover{ background: linear-gradient(to bottom, #88372A 50%, #E10000); }
