﻿body 
{
    font:12px verdana;
}
*{margin:0px;padding:0px;}
#topointeiro
{
    width:100%;height:49px;background-image:url(../imagens2/topoamostra.jpg);background-repeat:repeat-x;
}
#topointeiro .aviao
{
    float:left;clear:left;width:31px;height:31px;margin-top:4px;margin-left:10px;
    background-image:url(../imagens2/aviaozinho.png);
}
#topointeiro h1
{
    float:left;clear:none;font:bold 14px arial;color:#fff;height:49px;line-height:49px;margin-left:10px;
}
#colunaesquerda
{
    width:234px;min-height:678px;float:left;clear:left;
    background-color:#dad2c3;border-right:solid 1px #c2c3b9;
}
#colunaesquerda ul
{
    list-style: none outside none;margin-left:7px;margin-top:20px;
    width: 220px;float: left;clear: left;
    
}
#colunaesquerda ul li
{
    float:left;clear:left;width:218px;height:28px;border:solid 1px #73b3d2;border-radius:5px;background-color:#ccdde6;
    margin-bottom:10px;
    
}
#colunaesquerda ul li a
{
    color:#047fba;margin-left:20px;font:bold 18px arial;margin-top:3px;cursor:pointer;text-decoration:none;float:left;clear:left;
}
#colunaesquerda ul li a:hover
{
    color:Red;
}
#colunadireita
{
    background-color:#f5f5f5;float:left;clear:none;
}
#colunadireita h1
{
    margin-left:10px;color:#4d5764;font:bold 18px arial;
    float:left;clear:left;width:100px;margin-top:10px;padding-bottom:5px;
   
}
/*********  Gridview **************/
.tbllistagem 
{
    margin-top:8px;
    border-collapse: collapse; border-spacing: 0;
    float:left;clear:left;margin-left:10px;
    
}

.tbllistagem tr th 
{
	padding: 5px;
	background-color: #c53a3a;
	text-align: left;
	border: solid 1px #b12716;
	color: #FFF;
	height: 30px;
}
.tbllistagem tr td 
{
    padding:3px;
    
    border-bottom:solid 1px #888;
    border-left:solid 1px #888;
    border-right:solid 1px #888;
}
.tbllistagem tr:nth-child(odd) {background-color: #FEE}

.botaopadrao
{
    background: linear-gradient(to bottom, #E10000 50%, #88372A); box-shadow: inset 0 0 10px #ED2724; 
    border: solid 1px #C82420; border-radius: 5px; color: #FFF; cursor: pointer; font-weight: bold; 
    margin-left:5px;text-transform: uppercase;cursor: pointer;
    height:30px;line-height:30px;
}
.botaopadrao:hover
{
     background: linear-gradient(to bottom, #88372A 50%, #E10000);
}
/******** Formulário ************/
fieldset{
   border-radius: 5px;padding:5px;margin-top:10px;
   background-color:#fafafa;
}
legend
{
    margin-left:30px;
    font-weight:600;color:#444;
}
#cadastro
{
	clear:both;
	float:left;
	width:100%;
	
}
#cadastro ol
{
    list-style:none;
}
#cadastro ol li {
	float:left;
	min-height:40px;
	clear:left;
	margin-bottom:10px;
}




#cadastro ol li label {
	float:left;
	width:128px;
	height:35px;line-height:35px;
}
#cadastro ol li span {
	float:left;
	height:35px;line-height:35px;
}
#cadastro ol li label:nth-of-type(2)
{
    margin-left:20px;
}
#cadastro ol li label strong {
	color:#F00;
}

#cadastro ol li input.Campos , #cadastro ol li select.Campos {
	float:left;
	width:245px;
	height:35px;
	border:2px solid #DBDBDB;
	border-radius:3px;
	box-shadow: inset 0 0 5px 5px #f0f0f0;
	padding-left:5px;
	
}
#cadastro ol li select.Campos 
{
    width:255px;
    height:35px;padding-top:5px;
    padding-bottom:5px;
}
#cadastro ol li textarea {
	float:left;
	width:510px;
	height:50px;
	border:2px solid #DBDBDB;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
	box-shadow: inset 0 0 5px 5px #f0f0f0;
	padding-left:5px;
}
.btnenviar
{
    width:109px;height:32px;float:right;border:none;color:#fff;
    background-image:url(../imagens2/btnenviar.png);cursor:pointer;
}
.btnenviar:hover
{
   background-image:url(../imagens2/btnenviarhover.png);
}
.erro
{
    color:Red;float:left;clear:none;height:35px;line-height:35px;margin-left:5px;
}
.breadcrumb
{
   width:500px;margin-left:20px;margin-top:5px;float:left;clear:left;color:blue;font:normal 12px verdana;
}
.breadcrumb a{text-decoration:none;}
.login
{
	float:right;
	padding: 3px;
    padding: 4px;
    margin: 5px;
    color: #fff;
}
.login a,.login a:visited
{
   color:#fff;
}
.errormessage
{
	color:#ff0000;margin-left:5px;
}